$text-color: #ffb4a2;

.wrapper {
  font-family: Helvetica, sans-serif;
}

.foot {
  display: flex;
  justify-content: center;

  a {
    color: $text-color;
  }
}

/* small tablet styles */
@media screen and (min-width: 620px){

}

/* large tablet & laptop styles */
@media screen and (min-width: 960px){

}

/* desktop styles */
@media screen and (min-width: 1200px){

}