$text-color: #FFFDFA;
$text-color-hover: #ffb4a2;
$background: #212529;

.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  place-items: center;
  justify-content: stretch;
  background: $background;

  a {
    color: $text-color;
    transition: color 0.5s, border 0.6s;

    &:hover {
      color: $text-color-hover;
    }
    &:active {
      color: $text-color-hover;
    }
    &:focus {
      color: $text-color-hover;
    }
  }
}

.siteNav {

  ul {
    display: none;

    li a {
      border-bottom: 2px solid transparent;
    }
  }
}

.title {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
  grid-column: 1/5;
  justify-self: end;
  
}

.icons {
  grid-column: 6/8;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;


  a {
    display: flex;
  
    svg {
      fill: $text-color;
      transition: fill .5s ease;

      &:hover {
        fill: $text-color-hover;
      }
    }
  }
}

/* small tablet styles */
@media screen and (min-width: 620px){

  .title {
    justify-self: stretch;
  }
}

/* large tablet & laptop styles */
@media screen and (min-width: 960px){

  .container {
    position: fixed;
    width: 100vw;
  }

  .title {
    grid-column: 1/4;
    transition: color 0.5s;
  }

  .siteNav {
    grid-column: 4/6;
    place-self: center stretch;


    ul {
      display: flex;
      justify-content: space-around;
      gap: 10px;
      
      li {
        a {
          padding: 4px 0;

          &:hover {
            border-bottom: 2px solid $text-color-hover;
          }
        }
      }
    }
  }

  .icons {
    grid-column: 7/8;
    column-gap: 30px;
  }
}

/* desktop styles */
@media screen and (min-width: 1200px){

}